@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" style="margin-right:5px;">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.GetUserName() <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li>@Html.ActionLink("ManageAccount", "Index", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Logoff</a></li>
                </ul>
            </li>
            @*<li>
                    @Html.ActionLink(User.Identity.GetUserName(), "Index", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>*@
            @*<li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.LogOff</a></li>*@
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="margin-right:5px;">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}